@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@media only screen and (max-width: 700px) {
    .container{
        width: 80%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
    }
    
  }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    max-width: 900px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}
.card-wrapper {
    width: 400px;
    height: 500px;
    position: relative;
}
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 430px;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.5s;
}
.card:hover{
    box-shadow: 0 0 35px rgb(255, 255, 255);
}
.card .card-image {
    position: relative;
    top: 0;
    left: 0;
    width: 320px;
    z-index: 2;
    transition: 0.5s;
    opacity: 0.9;
}
.card:hover img {
    
    transition: 0.5s;
}
.card:hover .card-image {
    transform: translateY(-30px);
    opacity: 1.0;
    filter: brightness(120%);
    transition: all 0.9s;
}
/**** Social Icons *****/
.social-icons {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
}
.social-icons li {
    list-style: none;
}
.social-icons li a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgb(255, 255, 255);
    font-size: 20px;
    color: #333;
    font-weight: bold;
    margin: 0 6px;
    transition: 0.4s;
    transform: translateY(200px);
    opacity: 0;
}
.card:hover .social-icons li a {
    transform: translateY(0px);
    opacity: 1;
}
.social-icons li a:hover {
    background: #000;
    transition: 0.2s;
}
.social-icons li a:hover .fa {
    color: #fff;
}
.social-icons li a .fa {
    transition: 0.8s;
}
.social-icons li a .fa:hover {
    transform: rotateY(360deg);
    color: #fff;
}
.card:hover li:nth-child(1) a {
    transition-delay: 0.1s;
}
.card:hover li:nth-child(2) a {
    transition-delay: 0.2s;
}
.card:hover li:nth-child(3) a {
    transition-delay: 0.3s;
}
.card:hover li:nth-child(4) a {
    transition-delay: 0.4s;
}
/**** Personal Details ****/
.details {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(0, 0, 0);
    width: 100%;
    height: 80px;
    z-index: 99;
    padding: 5px;
}
.details h2 {
    margin: 13px 0;
    padding: 0;
    line-height: 25px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    letter-spacing: 4px;
    color: #fff;
}
.jane {
    position: absolute;
    bottom: -120px;
    left: 0;
    opacity: 0;
    background: #fff;
    width: 100%;
    height: 120px;
    z-index: 3;
    padding: 10px;
    transition: 0.4s;
}
.profile-two .social-icons li a {
    border-radius: 50%;
}
.card:hover .profile-img--two {
    transform: rotateY(180deg);
}
.card:hover .jane {
    bottom: 0;
    left: 0;
    transition-delay: 0.5s;
    opacity: 1;
}
