@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@media only screen and (max-width: 700px) {
  .subheading{
    display: flex;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
  }  
}
body{
    background-image: url('darkspace.jpg');
    background-size: contain;
    backdrop-filter: brightness('50%');
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color 1s ease;
    margin: 10px;

}
.video{
  display: flex;
  justify-content: space-around;
}
.panel {
    /* min height incase content is higher than window height */
    min-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    /* outline: 10px solid hotpink; */
    /* turn above on to see the edge of panels */

}
/*
.color-2 {
    background-color: #000124;
    margin: 10px;
    border: 7px double #e2f539;
  }
  .color-3 {
    background-color: #000231;
    margin: 10px;
    border: 7px double #e2f539;
  }
  .color-4 {
    background-color: #000344;
    margin: 10px;
    border: 7px double #e2f539;
  }
  .color-5 {
    background-color: #1b0024;
    margin: 10px;
    border: 7px double #e2f539;
  }
  .color-6 {
    background-color: #2f003f;
    margin: 10px;
    border: 7px double #e2f539;
  }
  .color-7 {
    background-color: #360047;
    margin: 10px;
    border: 7px double #e2f539;
  }
  .color-9 {
    background-color: #000447;
    margin: 10px;
    border: 7px double #e2f539;
  }
  .color-10 {
    background-color: #000344;
    margin: 10px;
    border: 7px double #e2f539;
  }
  .color-11 {
    background-color: #000231;
    margin: 10px;
    border: 7px double #e2f539;
  }
  .color-12 {
    background-color: #1b0024;
    margin: 10px;
    border: 7px double #e2f539;
  }
  .color-13 {
    background-color: #2f003f;
    margin: 10px;
    border: 7px double #e2f539;
  }
  .color-15 {
    background-color: #21002c;
    margin: 10px;
    border: 7px double #e2f539;
  }
  .color-16 {
    background-color: #000231;
    margin: 10px;
    border: 7px double #e2f539;
  }
  .color-17 {
    background-color: #000124;
    margin: 10px;
    border: 7px double #e2f539;
  }
  .color-18 {
    background-color: #00011f;
    margin: 10px;
    border: 7px double #e2f539;
  }
*/
.heading{
    text-align: center;
}
.head{
  width: 60%;
  height: auto;
}
h1{
    margin-top: 0px;
    margin-bottom: 0px;
}
hr{
    width: 35%;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 5px;
    border: none;
    align-items: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(173, 223, 35), rgba(0, 0, 0, 0));
}
.space{
    width: 0%;
    height: 60px;
    border: none;
}
.lspace{
    width: 0%;
    height: 25px;
    border: none;
}
.subheading{
    display: flex;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Orbitron', sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}
.hrsub{
    width: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 5px;
    border: none;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
}

.container-1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.image{
    width: 120px;
    height: 120px;
}
.container{
    display: flex;
    align-items: center;
}
